REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID: 	#001
Description: 	The product shall book an appointment in an available time slot.
Type: 		Functional
Rationale: 	In order to avoid double bookings and to handle holiday availability of a time slot must be verified.
Originator: 	J Mendez (Source: Carol, Office Manager)
Comments: 	A very basic requirement considering its a a system patient for appointments.


REQ-ID: 	#002
Description: 	The product shall notify the user of all appointments at the start of a session
Type: 		Functional
Rationale: 	In order for the user to see the appointments that will follow in the session so he can plan breaks and notify of any cancelled appointments.
Originator: 	J Mendez (Source: Carol, Office Manager)
Comments: 	A very basic requirement considering its a a system for patient appointments.

REQ-ID:		#003
Description:	The product shall issue an invoice to the health insurance company if the patient wishes to claim on their health insurance policy.
Type:		Functional.
Rationale:	Some patients will have insurance and will wish the clinic to claim directly from the health insurer.  
		This will be an alternative for immediate payment to the clinic. 
Originator:	M Drennan (Source: Carol, Office Manager)
Comments:	Captured during interview 12/12/14

REQ-ID:		#004
Description:	The product shall calculate the payment due to the clinic from a patient’s treatment record.
Type:		Functional.
Rationale:	The payment information will be required by the invoicing services.
Originator:	M Drennan (Source: Carol, Office Manager)
Comments:	Captured during interview 12/12/14

REQ-ID:		#005
Description: 	The system shall find free timeslots for the patient¿s next treatment.
Tyoe:		Functional.
Rationale: 	The therapist provides an estimate of days, weeks or months in which the patient should return for the next treatment. Beginning from a specific date, usually ¿today¿s date¿, the patient will then choose which day(s) fits the best.
Originator: 	Therapist

REQ-ID:		#006
Description: 	The system shall notify the user in case the next treatment chosen is after 2 working days.
Type:		Functional.
Rationale: 	In case a treatment is after 2 working days the clinic¿s personnel must send a notification letter to remind the patient for the next treatment.
Originator: 	Receptionists

REQ-ID:		#007
Description: 	The system shall book a patient in.
Type:			Functional.
Rationale: 	The receptionist books a patient in when they arrive at the clinic.
Originator: 	P Cooney (Source: Carol, Office Manager)
Comments: 		Interview with office manager

REQ-ID:		#008	
Description: 	The system shall identify patients who don't turn up for appointments.
Type:		Functional.
Rationale: 	All patients who don’t turn up for appointments will have a letter sent to them.
Originator: 	P Cooney (Source: Carol, Office Manager)
Comments: 		Interview with office manager



