REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID: 	#001
Description: 	The product shall book an appointment in an available time slot.
Type: 		Functional
Rationale: 	In order to avoid double bookings and to handle holiday availability of a time slot must be verified.
Originator: 	J Mendez (Source: Carol, Office Manager)
Comments: 	A very basic requirement considering its a a system patient for appointments.


REQ-ID: 	#002
Description: 	The product shall notify the user of all appointments at the start of a session
Type: 		Functional
Rationale: 	In order for the user to see the appointments that will follow in the session so he can plan breaks and notify of any cancelled appointments.
Originator: 	J Mendez (Source: Carol, Office Manager)
Comments: 	A very basic requirement considering its a a system for patient appointments.

REQ-ID:		#003
Description:	The product shall issue an invoice to the health insurance company if the patient wishes to claim on their health insurance policy.
Type:		Functional.
Rationale:	Some patients will have insurance and will wish the clinic to claim directly from the health insurer.  
		This will be an alternative for immediate payment to the clinic. 
Originator:	M Drennan (Source: Carol, Office Manager)
Captured during interview 12/12/14

REQ-ID:		#004
Description:	The product shall calculate the payment due to the clinic from a patientís treatment record.
Type:		Functional.
Rationale:	The payment information will be required by the invoicing services.
Originator:	M Drennan (Source: Carol, Office Manager)
Comments:	Captured during interview 12/12/14

REQ-ID:		#005
Description: 	The system shall find free timeslots for the patientøs next treatment.
Tyoe:		Functional.
Rationale: 	The therapist provides an estimate of days, weeks or months in which the patient should return for the next treatment. Beginning from a specific date, usually øtodayøs dateø, the patient will then choose which day(s) fits the best.
Originator: 	Therapist

REQ-ID:		#006
Description: 	The system shall notify the user in case the next treatment chosen is after 2 working days.
Type:		Functional.
Rationale: 	In case a treatment is after 2 working days the clinicøs personnel must send a notification letter to remind the patient for the next treatment.
Originator: 	Receptionists

REQ-ID:		#007
Description: 	The system shall book a patient in.
Type:			Functional.
Rationale: 	The receptionist books a patient in when they arrive at the clinic.
Originator: 	P Cooney (Source: Carol, Office Manager)
Comments: 		Interview with office manager

REQ-ID:		#008	
Description: 	The system shall identify patients who don't turn up for appointments.
Type:		Functional.
Rationale: 	All patients who donít turn up for appointments will have a letter sent to them.
Originator: 	P Cooney (Source: Carol, Office Manager)
Comments: 		Interview with office manager

REQ-ID:		#009
Description: 	The system will identify whether patients have provided insurance company information and prompt for payment if required.
Type:		Functional.
Rationale: 	Patients present insurance information upon initial registration, therefore the system should arrange for insurance company billing if this information is present, otherwise prompt for payment by the patient.
Originator: 	J Wyatt (Source: David, Practice Owner)

REQ-ID:		#010
Description: 	The system will identify whether patients have any previous unpaid ’no-shows’ that should be charged for.
Type:		Functional.
Rationale: 	After the first ‘no-show’ instance, the business will charge patients for missed sessions. As they cannot claim this from their health insurance, the patient must pay directly and therefore the system should identify whether patients have any outstanding payments which should be charged for.
Originator: 	J Wyatt (Source: Carol, Office Manager)

REQ-ID:		#011
Description:	The system will allow the receptionist to search for patient details
Type:		Functional; business requirement
Rationale:	The patient presents the completed treatment form to the receptionist, the receptionist will need to search for the patient details to update treatment details and process payment
Originator:	T McMahon (Source: Carol, Office Manager)
Comments: 	This requirement is derived from the interview with the office manager, it is not explicitly mentioned by the office manager but will be necessary for the system to function

REQ-ID:		#012
Description:	The system should generate an invoice for insured patients
Type:		Functional; business requirement
Rationale:	The patient presents the completed treatment form to the receptionist, if the patient is insured an invoice needs to be generated and sent to the insurance company
Originator:	T McMahon (Source: Carol, Office Manager)
Comments: 	This requirement is derived from the interview with the office manager, the specific technical details of invoice generation will need discussed with the client but must include merge of insurance provider details and treatment into invoice

REQ-ID: 013
Type: Functional
Description: The product shall display the availability and absence of therapists
Rationale: To propose followup appointments the availability of therapists needs to be known.
Originator: The office manager (Carol)
Comments: Derived from Carols comment about the rota. It's very likely going to create further requirements for entering and maintaining the availability of therapists.  

REQ-ID: 014
Type: Functional
Description: The product shall allow to filter the available slots based on therapists, time range and patient
Rationale: The treatment form indicates how long it should be before the next appointment (next week, one month, three months). Therapist and patient further reduce the possible options when finding available slots and simplify booking of appointments. 
Originator: The office manager (Carol)
Comments: Related to general usability requirements (productivity, efficiency) 

REQ-ID:		#15
Description:	The system shall identify therapist empty appointment slots.
Type:		Functional
Rationale:	The receptionist is able to schedule a patient appointment with his/her therapist. 
Originator:	A Lebby (Source: Carol, Office Manager)
Comments: 	Requirement elicited from office manager.

REQ-ID:		#16
Description:	The system shall identify treatment types provided by a therapist.
Type:		Functional
Rationale:      The receptionist is able to identify a therapist offering the treatment type required by the patient. 
Originator:	A Lebby (Source: Carol, Office Manager)
Comments: 	Requirement elicited from office manager.

REQ-ID:		#17
Description:	The system will be able to inform the patients if any changes has happened to their appointments.
Type:		Functional
Rationale:	This is mainly aimed at instances where the therapists are sick or not at the practice due to an accidents 
Originator:	F Mavarani (Source: Carol, Office Manager)
Comments: 	Requirement given from the discussion with Carol the office manager.

REQ-ID:		#18
Description:	The system will allow the user to change the time of their appointment.
Type:		Functional
Rationale:      This could be an addition to the website Duncan had wanted to show patients appointment times.
Originator:	F Mavarani 
Comments: 	Requirement given from the discussion with Duncan.

REQ-ID:		#19
Description:	The system will allow the user to note which method was used to reduce no-shows.
Type:		Functional
Rationale:	The office manager wants to try different methods for different patients at the same time.
Originator:	W Steinert (Source: Carol, Office Manager)
Comments: 	Requirement given from interview with office manager (Carol).

REQ-ID:		#20
Description:The system will allow the user to rearrange an appointment if a therapist is not available.
Type:		Functional
Rationale:	Sometimes a therapist has to be away or is ill so the receptionists need to rearrange planned appointments.
Originator:	W Steinert (Source: Carol, Office Manager)
Comments: 	Requirement given from interview with office manager (Carol).

REQ-ID:		#21
Description:The system shall have a dynamic control element for filtering appointments by an arbitrary timeframe.
Type:		Functional
Rationale:	The team intends to gather an estimate of the number of appointments for a given timeframe. This timeframe can vary
Originator:	P Heuschkel(Source: Carol, Office Manager)
Comments: 	Captured during preliminary requirements interview

REQ-ID:		#22
Description:The system shall provide patient profiles which include a counter of missed appointments.
Type:		Functional
Rationale:	The team intends to identify "regular offenders" in correlation with their personal data and contact information
Originator:	P Heuschkel (Source: Carol, Office Manager)
Comments: 	Captured during preliminary requirements interview

REQ-ID:		#23
Description:	The system should calculate the payment due to the clinic
Type:		Functional
Rationale:	The payment information will be required for invoicing the insurance company or billing the patient directly.
Originator:	S Savage (Source: Carol, Office Manager)
Comments:	Requirement elicited from Carol the Office Manager

REQ-ID:		#24
Description:	The system will record the type of "no-show" reduction method used.
Type:		Functional
Rationale:	The office manager would like to "try different ideas at the same time" with regards to reducing no-shows.
Originator:	S Savage (Source: Carol - Office Manager)
Comments:	Requirement elicited from Carol the Office Manager