REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID: 	#001
Description: 	The product shall book an appointment in an available time slot.
Type: 		Functional
Rationale: 	In order to avoid double bookings and to handle holiday availability of a time slot must be verified.
Originator: 	J Mendez (Source: Carol, Office Manager)
Comments: 	A very basic requirement considering its a a system patient for appointments.


REQ-ID: 	#002
Description: 	The product shall notify the user of all appointments at the start of a session
Type: 		Functional
Rationale: 	In order for the user to see the appointments that will follow in the session so he can plan breaks and notify of any cancelled appointments.
Originator: 	J Mendez (Source: Carol, Office Manager)
Comments: 	A very basic requirement considering its a a system for patient appointments.

REQ-ID:		#003
Description:	The product shall issue an invoice to the health insurance company if the patient wishes to claim on their health insurance policy.
Type:		Functional.
Rationale:	Some patients will have insurance and will wish the clinic to claim directly from the health insurer.  
		This will be an alternative for immediate payment to the clinic. 
Originator:	M Drennan (Source: Carol, Office Manager)
Comments:	Captured during interview 12/12/14

REQ-ID:		#004
Description:	The product shall calculate the payment due to the clinic from a patientís treatment record.
Type:		Functional.
Rationale:	The payment information will be required by the invoicing services.
Originator:	M Drennan (Source: Carol, Office Manager)
Comments:	Captured during interview 12/12/14

REQ-ID:		#005
Description: 	The system shall find free timeslots for the patientøs next treatment.
Tyoe:		Functional.
Rationale: 	The therapist provides an estimate of days, weeks or months in which the patient should return for the next treatment. Beginning from a specific date, usually øtodayøs dateø, the patient will then choose which day(s) fits the best.
Originator: 	Therapist

REQ-ID:		#006
Description: 	The system shall notify the user in case the next treatment chosen is after 2 working days.
Type:		Functional.
Rationale: 	In case a treatment is after 2 working days the clinicøs personnel must send a notification letter to remind the patient for the next treatment.
Originator: 	Receptionists

REQ-ID:		#007
Description: 	The system shall book a patient in.
Type:			Functional.
Rationale: 	The receptionist books a patient in when they arrive at the clinic.
Originator: 	P Cooney (Source: Carol, Office Manager)
Comments: 		Interview with office manager

REQ-ID:		#008	
Description: 	The system shall identify patients who don't turn up for appointments.
Type:		Functional.
Rationale: 	All patients who donít turn up for appointments will have a letter sent to them.
Originator: 	P Cooney (Source: Carol, Office Manager)
Comments: 		Interview with office manager

REQ-ID:		#009
Description: 	The system will identify whether patients have provided insurance company information and prompt for payment if required.
Type:		Functional.
Rationale: 	Patients present insurance information upon initial registration, therefore the system should arrange for insurance company billing if this information is present, otherwise prompt for payment by the patient.
Originator: 	J Wyatt (Source: David, Practice Owner)

REQ-ID:		#010
Description: 	The system will identify whether patients have any previous unpaid ’no-shows’ that should be charged for.
Type:		Functional.
Rationale: 	After the first ‘no-show’ instance, the business will charge patients for missed sessions. As they cannot claim this from their health insurance, the patient must pay directly and therefore the system should identify whether patients have any outstanding payments which should be charged for.
Originator: 	J Wyatt (Source: Carol, Office Manager)

REQ-ID:		#011
Description:	The system will allow the receptionist to search for patient details
Type:		Functional; business requirement
Rationale:	The patient presents the completed treatment form to the receptionist, the receptionist will need to search for the patient details to update treatment details and process payment
Originator:	T McMahon (Source: Carol, Office Manager)
Comments: 	This requirement is derived from the interview with the office manager, it is not explicitly mentioned by the office manager but will be necessary for the system to function

REQ-ID:		#012
Description:	The system should generate an invoice for insured patients
Type:		Functional; business requirement
Rationale:	The patient presents the completed treatment form to the receptionist, if the patient is insured an invoice needs to be generated and sent to the insurance company
Originator:	T McMahon (Source: Carol, Office Manager)
Comments: 	This requirement is derived from the interview with the office manager, the specific technical details of invoice generation will need discussed with the client but must include merge of insurance provider details and treatment into invoice

